* {
    margin: 0px;
    padding: 0px;
}

header {
    left: 0px;
    top: 0px;
    color: black;
    background-image: linear-gradient(120deg, orange, white, green);
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-radius: 2% 20px;
    box-shadow: 10px 10px 8px black;


}

footer {
    left: 0px;
    bottom: 0px;
    color: black;
    background-image: linear-gradient(120deg, orange, white, green);
    font-size: 44px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-radius: 2% 20px;
    box-shadow: 10px 10px 8px black;
    position: bottom;
    width: 100%;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    margin: 10px 40px 10px 40px;

}

h1 {
    color: black;
    text-align: center;
    text-shadow: white;
    padding-bottom: 25px;
}

img {
    height: 400px;
    width:350px;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}

body {
    background-image: linear-gradient(120deg, blue, white, green, white, orange);
    background-size: cover;
}

img:hover {
    transform: scale(1.03);
    background-color: black;
    cursor: pointer;
    transition: all is ease;
}